<div class="card mb-3">
  <h2 class="card-header h4">
    Service #<%= service.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Shampoo</dt>
      <dd><%= service.shampoo %></dd>

      <dt>Pest treatment</dt>
      <dd><%= service.pest_treatment %></dd>

      <dt>Condition</dt>
      <dd><%= service.condition %></dd>

      <dt>Nail trim</dt>
      <dd><%= service.nail_trim %></dd>

      <dt>Pad shaving</dt>
      <dd><%= service.pad_shaving %></dd>

      <dt>Ear cleaning</dt>
      <dd><%= service.ear_cleaning %></dd>

      <dt>Teeth brushing</dt>
      <dd><%= service.teeth_brushing %></dd>

      <dt>Gland cleaning</dt>
      <dd><%= service.gland_cleaning %></dd>

      <dt>Hair cut</dt>
      <dd><%= service.hair_cut %></dd>

      <dt>Hair trim</dt>
      <dd><%= service.hair_trim %></dd>

      <dt>Brushing</dt>
      <dd><%= service.brushing %></dd>

      <dt>Saved appointment</dt>
      <dd>
        <% if @service.saved_appointment.present? %>
          <%= link_to service.saved_appointment, service.saved_appointment %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back service, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_service_url(service), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to service, method: :delete, data: { confirm: "Do you really want to delete this service?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(service.updated_at) %> ago
  </div>
</div>
