<%= form_with(model: @dog_owner_profile, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :first_name %>

    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>

    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>

    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :home_address %>

    <%= f.text_field :home_address, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :email %>

    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :authorized_associates_id %>

    <%= f.text_field :authorized_associates_id, class: "form-control" %>
  </div>

  <%= f.submit "Create dog owner profile", class: "btn btn-block btn-outline-secondary" %>
<% end %>
