<div class="card mb-3">
  <h2 class="card-header h4">
    Dog Profile #<%= dog_profile.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Dog name</dt>
      <dd><%= dog_profile.dog_name %></dd>

      <dt>Owner</dt>
      <dd>
        <% if @dog_profile.owner.present? %>
          <%= link_to dog_profile.owner, dog_profile.owner %>
        <% end %>
      </dd>

      <dt>Breed</dt>
      <dd><%= dog_profile.breed %></dd>

      <dt>Date of birth</dt>
      <dd><%= dog_profile.date_of_birth %></dd>

      <dt>Allergies</dt>
      <dd><%= dog_profile.allergies %></dd>

      <dt>Behavior notes</dt>
      <dd><%= dog_profile.behavior_notes %></dd>

      <dt>Treats</dt>
      <dd><%= dog_profile.treats %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back dog_profile, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_dog_profile_url(dog_profile), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to dog_profile, method: :delete, data: { confirm: "Do you really want to delete this dog_profile?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(dog_profile.updated_at) %> ago
  </div>
</div>
