<%= search_form_for @q, :class => collapse_search_form, :id => "dog_profiles_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :dog_name_cont, "Dog name contains" %>
    <%= f.text_field :dog_name_cont, :class => "form-control", :placeholder => "Dog name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :treats_cont, "Treats contains" %>
    <%= f.text_field :treats_cont, :class => "form-control", :placeholder => "Treats contains" %>
  </div>

  <div class="form-group">
    <%= f.label :behavior_notes_cont, "Behavior notes contains" %>
    <%= f.text_field :behavior_notes_cont, :class => "form-control", :placeholder => "Behavior notes contains" %>
  </div>

  <div class="form-group">
    <%= f.label :allergies_cont, "Allergies contains" %>
    <%= f.text_field :allergies_cont, :class => "form-control", :placeholder => "Allergies contains" %>
  </div>

  <div class="form-group">
    <%= f.label :date_of_birth_cont, "Date of birth contains" %>
    <%= f.text_field :date_of_birth_cont, :class => "form-control", :placeholder => "Date of birth contains" %>
  </div>

  <div class="form-group">
    <%= f.label :breed_cont, "Breed contains" %>
    <%= f.text_field :breed_cont, :class => "form-control", :placeholder => "Breed contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :owner_first_name_cont, "Owner first_name contains" %>
    <%= f.text_field :owner_first_name_cont, :class => "form-control", :placeholder => "Owner first_name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :authorized_associate_first_name_cont, "Authorized associate first_name contains" %>
    <%= f.text_field :authorized_associate_first_name_cont, :class => "form-control", :placeholder => "Authorized associate first_name contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/dog_profiles" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#dog_profiles_filters">
  Show filters
</a>
