<div class="card mb-3">
  <h2 class="card-header h4">
    Saved Appointment #<%= saved_appointment.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Dog</dt>
      <!-- Display dog_id start -->
      <dd><%= saved_appointment.dog_id %></dd>
      <!-- Display dog_id end -->

      <dt>Owner</dt>
      <!-- Display owner_id start -->
      <dd><%= saved_appointment.owner_id %></dd>
      <!-- Display owner_id end -->

      <dt>Nickname for appointment</dt>
      <!-- Display nickname_for_appointment start -->
      <dd><%= saved_appointment.nickname_for_appointment %></dd>
      <!-- Display nickname_for_appointment end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back saved_appointment, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link saved_appointment start -->
      <div class="col">
        <%= link_to edit_saved_appointment_url(saved_appointment), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link saved_appointment end -->

      <!-- Delete link saved_appointment start -->
      <div class="col">
        <%= link_to saved_appointment, method: :delete, data: { confirm: "Do you really want to delete this saved_appointment?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link saved_appointment end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(saved_appointment.updated_at) %> ago
  </div>
</div>
