<%= form_with(model: @service, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :shampoo %>

    <%= f.text_field :shampoo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :pest_treatment %>

    <%= f.text_field :pest_treatment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :condition %>

    <%= f.text_field :condition, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :nail_trim %>

    <%= f.text_field :nail_trim, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :pad_shaving %>

    <%= f.text_field :pad_shaving, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :ear_cleaning %>

    <%= f.text_field :ear_cleaning, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :teeth_brushing %>

    <%= f.text_field :teeth_brushing, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :gland_cleaning %>

    <%= f.text_field :gland_cleaning, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :hair_cut %>

    <%= f.text_field :hair_cut, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :hair_trim %>

    <%= f.text_field :hair_trim, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :brushing %>

    <%= f.text_field :brushing, class: "form-control" %>
  </div>

  <%= f.hidden_field :saved_appointment_id, value: @saved_appointment.id %>

  <%= f.submit "Create service", class: "btn btn-block btn-outline-secondary" %>
<% end %>
