<%= form_with(model: @saved_appointment, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :dog_id %>

    <%= f.collection_select :dog_id, DogProfile.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :owner_id, value: @dog_owner_profile.id %>

  <div class="form-group">
    <%= f.label :nickname_for_appointment %>

    <%= f.text_field :nickname_for_appointment, class: "form-control" %>
  </div>

  <%= f.submit "Create saved appointment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
