<%= form_with(model: @authorized_associate, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :first_name %>

    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>

    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>

    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <%= f.hidden_field :dog_owner_profile_id, value: @dog_owner_profile.id %>

  <%= f.submit "Create authorized associate", class: "btn btn-block btn-outline-secondary" %>
<% end %>
