<% was_validated = dog_owner_profile.errors.any? %>

<%= form_with(model: dog_owner_profile, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% first_name_class = "form-control" %>
    <% first_name_was_invalid = dog_owner_profile.errors.include?(:first_name) %>

    <% if was_validated %>
      <% if first_name_was_invalid %>
        <% first_name_class << " is-invalid" %>
      <% else %>
        <% first_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: first_name_class, placeholder: "Enter first name" %>
    <% if first_name_was_invalid %>
      <% dog_owner_profile.errors.full_messages_for(:first_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% last_name_class = "form-control" %>
    <% last_name_was_invalid = dog_owner_profile.errors.include?(:last_name) %>

    <% if was_validated %>
      <% if last_name_was_invalid %>
        <% last_name_class << " is-invalid" %>
      <% else %>
        <% last_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: last_name_class, placeholder: "Enter last name" %>
    <% if last_name_was_invalid %>
      <% dog_owner_profile.errors.full_messages_for(:last_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% phone_class = "form-control" %>
    <% phone_was_invalid = dog_owner_profile.errors.include?(:phone) %>

    <% if was_validated %>
      <% if phone_was_invalid %>
        <% phone_class << " is-invalid" %>
      <% else %>
        <% phone_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :phone %>
    <%= f.text_field :phone, class: phone_class, placeholder: "Enter phone" %>
    <% if phone_was_invalid %>
      <% dog_owner_profile.errors.full_messages_for(:phone).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% home_address_class = "form-control" %>
    <% home_address_was_invalid = dog_owner_profile.errors.include?(:home_address) %>

    <% if was_validated %>
      <% if home_address_was_invalid %>
        <% home_address_class << " is-invalid" %>
      <% else %>
        <% home_address_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :home_address %>
    <%= f.text_field :home_address, class: home_address_class, placeholder: "Enter home address" %>
    <% if home_address_was_invalid %>
      <% dog_owner_profile.errors.full_messages_for(:home_address).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <% email_class = "form-control" %>
    <% email_was_invalid = dog_owner_profile.errors.include?(:email) %>

    <% if was_validated %>
      <% if email_was_invalid %>
        <% email_class << " is-invalid" %>
      <% else %>
        <% email_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :email %>
    <%= f.text_field :email, class: email_class, placeholder: "Enter email" %>
    <% if email_was_invalid %>
      <% dog_owner_profile.errors.full_messages_for(:email).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% authorized_associate_class = "form-control" %>
    <% authorized_associate_was_invalid = dog_owner_profile.errors.include?(:authorized_associate) %>

    <% if was_validated %>
      <% if authorized_associate_was_invalid %>
        <% authorized_associate_class << " is-invalid" %>
      <% else %>
        <% authorized_associate_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :authorized_associates_id %>
    <%= f.number_field :authorized_associates_id, class: authorized_associate_class, placeholder: "Enter authorized associate" %>
    <% if authorized_associate_was_invalid %>
      <% dog_owner_profile.errors.full_messages_for(:authorized_associate).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
